* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

.column {
  float: left;
  width: 25%;
}

.column-left {
  background-color: yellow;
}

.column-right {
  background-color: teal;
}

@media screen and (max-width: 990px) {
  .column {
    width: 50%;
  }
}


@media screen and (max-width: 400px) {
    .column {
      width: 100%;
    }
  }
  
